<div class="windows-popup">
  <h2 class="windows-popup-title"><%= @property.title %></h2>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= image_tag(@property.image, width: "100%") %>
      </div>
      <div class="col-8">

        <p>
          <strong>Description:</strong>
          <%= @property.description %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= number_to_currency(@property.price) %>
        </p>

        <p>
          <strong>Type:</strong>
          <%= @property.flag %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @property.address %>
        </p>



      </div>
      <div class="container text-center">
        <%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
        <%= link_to 'Editar', edit_admins_user_property_path(user_id: @property.user_id, id: @property.id), class: 'btn btn-warning' %>
      </div>
    </div>
  </div>
</div>
