<div class="container">
  <%= simple_form_for @property , html: { multipart: true } do |f| %>
    <div class="col-12">
      <%= f.input :title %>
    </div>
    <div class="col-12">
      <%= f.input :description %>
    </div>
    <div class="col-12">
      <%= f.input :address %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <%= f.input :price %>
        </div>
        <div class="col-4">
          <%= f.input :flag, collection: ['Alugar', 'Vender'] %>
        </div>
        <!--<div class="col-4">
          <%= f.input :image, as: 'file' %>
        </div>-->

        <div class="col-4">
          <%= f.label :pictures, class: 'control-label' %>
          <div class="controls">
            <%= file_field_tag "images[]", type: :file, multiple: true %>
          </div>
        </div>

      </div>
    </div>
    <div class="row justify-content-md-center">
      <%= f.button :submit, class: 'btn btn-outline-success' %>
      <%= link_to 'Back', users_properties_path, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>
