<div class="windows-popup">
  <h2 class="windows-popup-title"><%= @title %></h2>
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Title</th>
        <th>Address</th>
        <th>Type</th>
        <th>Price</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users_properties.each do |users_property| %>
        <tr>
          <td><%= users_property.title %></td>
          <td><%= users_property.address %></td>
          <td><%= users_property.flag %></td>
          <td><%= number_to_currency(users_property.price) %></td>

          <td><%= link_to 'Show', users_property, class: 'badge badge-info' %></td>
          <td><%= link_to 'Edit', edit_users_property_path(users_property), class: 'badge badge-primary' %></td>
          <td><%= link_to 'Destroy', users_property, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
