<div class="windows-popup">
  <h2 class="windows-popup-title"><%= @property.title %></h2  >
  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= image_tag(@property.image, width: "100%") %>
      </div>
      <div class="col-8">

        <p>
          <strong>Description:</strong>
          <%= @property.description %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= number_to_currency(@property.price) %>
        </p>

        <p>
          <strong>Type:</strong>
          <%= @property.flag %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @property.address %>
        </p>

        <%= link_to 'Edit', edit_users_property_path(@property), class: 'badge badge-primary' %> |
        <%= link_to 'Back', users_properties_path, class: 'badge badge-warning' %>
      </div>
    </div>
  </div>
</div>
