<section class="text-center">
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Área administrativa do usuário, <%= current_user.name %></h1>
        <p class="lead text-muted">Nessa área administrativa é possível gerenciar todos as suas publicações de imóveis.</p>
        <p>
          <a href="#" class="btn btn-primary">Imóveis em alta</a>
        </p>
      </div>
    </section>

    <div class="card-group">
      <div class="row">
        <% @properties.each do |property| %>
        <div class="col-lg-4 public-card text-center">
          <div class="card">
            <%= image_tag(property.pictures.first.image, width: "300px", height: "200px", class: 'card-img-top' ) %>
            <div class="card-block">
              <h4 class="card-title"><%= property.title %></h4>
              <p class="card-text"><%= property.description %></p>
              <span> <%= property.address %> </span><br>
              <span> <%= property.flag %> </span><br>
              <span> <%= number_to_currency(property.price) %> </span><br>
              <%= link_to 'Visualizar', users_property_path(property), class: 'btn btn-primary' %>
            </div>
            <div class="card-footer">
              <!--<small class="text-muted">Last updated 3 mins ago</small>-->
              <small class="text-muted"><%= property.updated_at.strftime("Atualizado em %d/%m/%Y às %H:%M") %></small>
            </div>
          </div>
        </div>
        <% end %>
      </div><!-- /.row -->
    </div>
  </main>
</section>
