<div class="windows-popup">
  <h2 class="windows-popup-title"><%= @property.title %></h2>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag(@property.pictures.first.image, width: "600px", height: "380px") %>
            </div>

            <% @property.pictures.offset(1).each do |picture| %>
              <div class="carousel-item">
                <%= image_tag(picture.image, width: "600px", height: "380px") %>
              </div>
            <% end %>
          </div>
          <% unless @pictures.offset(1).empty? %>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          <% end %>
        </div>
      </div>

      <div class="col-6">

        <p>
          <strong>Description:</strong>
          <%= @property.description %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= number_to_currency(@property.price) %>
        </p>

        <p>
          <strong>Type:</strong>
          <%= @property.flag %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @property.address %>
        </p>



      </div>
      <div class="col-10">
        <div class="container text-right">
          <%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
          <a class="btn btn-primary" href="#" role="button">Tenho interesse &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
