<section class="text-center">
  <article class="card mb-5">
    <div class="card-body">
      <header class="card-title">
        <h1>Gerenciar Imóveis</h1>
      </header>
      <p class="card-text">
        É o gerenciador de corretores independentes e corretora de imóveis
        mais completo do mercado. Se você está planejando uma administração,
        divulgação e resultados completos, esse é o sistema ideal para você!
      </p>
    </div>
  </article>


<!-- Listagem pública de todos imóveis publicados -->

<div class="card-group">
  <div class="row">
    <% @properties.each do |property| %>
    <div class="col-lg-4 public-card text-center">
      <div class="card">
        <% if property.pictures.empty? %>
          <%= image_tag('no-room.jpg', width: "300px", height: "200px", class: 'card-img-top' ) %>
        <% else %>
          <%= image_tag(property.pictures.first.image, width: "300px", height: "200px", class: 'card-img-top' ) %>
        <% end %>
        <div class="card-block">
          <h4 class="card-title"><%= property.title %></h4>
          <p class="card-text"><%= property.description %></p>
          <span> <%= property.address %> </span><br>
          <span> <%= property.flag %> </span><br>
          <span> <%= number_to_currency(property.price) %> </span><br>
          <span>Pessoas interessadas:<span id="property-<%= property.id %>"> <%= VisitorsProperty.where(property_id: property.id).count %></span> </span><br>

          <%= link_to 'Visualizar', property_path(property), class: 'btn btn-primary' %>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= property.updated_at.strftime("Atualizado em %d/%m/%Y às %H:%M") %></small>
        </div>
      </div>
    </div>
    <% end %>
  </div><!-- /.row -->
</div>
<div class="public-card">
  <%= will_paginate(@properties, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center') %>
</div>
</section>
